.container {
  margin: 11px 0 0 17px;
}

.header {
  font-size: 46px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.block {
  position: relative;
  margin-top: 30px;
}

.block .title {
  position: relative;
  margin-bottom: 15px;
  font-size: 34px;
  font-family: 'Roboto';
}

.block .body {
  position: relative;
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Roboto';
}
